{{ define "main" }}

<h1>About</h1>

<p>I’m a <b>backend-focused Software Engineer</b> with a curiosity for understanding systems at their core. I enjoy exploring design and architecture decisions, which helps me refine my development practices.</p>

<p>My work centers on building reliable server-side applications and APIs, with a focus on creating scalable, high-performance systems. I believe strong fundamentals make it easier to adapt to new technologies and tackle challenges across the software ecosystem.</p>

<p><b>I use <a href="https://neovim.io/" target="_blank">NeoVim</a></b> for development and appreciate its simplicity and efficiency. <b>Based in Yogyakarta, Indonesia </b>(🇮🇩), I’m open to remote opportunities to collaborate with diverse teams worldwide.</p>

<p>Feel free to connect—whether here or on <a href="https://x.com/myusufadp" target="_blank">Twitter</a>!<p/>

<p><a href="about/">Read more</a></p>

<h1>Latest blogs</h1>

<div class="posts-list">
{{ with .Site.GetPage "/blogs" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>Latest projects</h1>

<div class="image-grid">
{{ with .Site.GetPage "/projects" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>

{{ end }}
